body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: white;
}

/* SUNUM EKRANI */
.present {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#bigText {
  font-size: 60px;
  font-weight: bold;
  padding: 30px;
  animation: pop 0.4s ease;
  max-width: 90%;
}

@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

#meta {
  opacity: 0.7;
  margin-top: 20px;
}

input, button {
  padding: 12px;
  margin: 5px;
}

button {
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 8px;
}